.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logout-btn {
  border-style: solid;
  border-width: 0px;
  border-radius: 5px;
  background-color: #4c63b6;
  height: 30px;
  width: 150px;
  color: #e4e7eb;
}
